<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862661657380-sfpbeivofojdcl78erueqh5dc1odbpkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862661657380-sfpbeivofojdcl78erueqh5dc1odbpkv</string>
	<key>API_KEY</key>
	<string>AIzaSyCznxO2C1EQgxGLSMoQaXdV0_Z1RoIk8BU</string>
	<key>GCM_SENDER_ID</key>
	<string>862661657380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachelsaunders.GAM730-MVP</string>
	<key>PROJECT_ID</key>
	<string>gam730-mvp</string>
	<key>STORAGE_BUCKET</key>
	<string>gam730-mvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:862661657380:ios:5624d04e97c8a43232e9b1</string>
	<key>DATABASE_URL</key>
	<string>https://gam730-mvp.firebaseio.com</string>
</dict>
</plist>
